exclude: ^resources

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: docs/make.bat
      - id: trailing-whitespace
        exclude: conda/meta.yaml

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
    - id: python-check-blanket-noqa
    - id: python-no-log-warn
    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff-check
        types_or: [ python, pyi ] # not to be executed on notebooks
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi ] # not to be executed on notebooks

  - repo: https://github.com/myint/docformatter
    rev: "v1.7.7"
    hooks:
    - id: docformatter

  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
    - id: codespell
      exclude: |
        (?x)(
              ^doc/|
              ^tests/|
              ^tests/sources/cls_table/resources/|
              conftest.py|
              .*.csv
            )
      entry: codespell -L IIF,iif,COMMUN,commun,rightt,nd

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
    - id: mypy
#        args: [--check-untyped-defs, --ignore-missing-imports]
      exclude: |
        (?x)(
              ^doc/|
              ^tests/|
              conftest.py|
              .*.csv
            )
      additional_dependencies:
        # Type stubs
        - types-requests
        - types-setuptools
        # Typed libraries
        - dask
        - distributed
        - numpy
        - pandas
