name: Tests

on:
  push:
    branches: ["main"]
    tags: ["*"]
  pull_request:
    branches: ["main"]

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-name: test-env
          init-shell: >-
            bash
          cache-environment: true
          post-cleanup: 'all'
          create-args: >-
            python=3.12
            pip
            fsspec
            numpy
            xarray
            pytest
            pytest-cov
            shapely
            geopandas
            pyinterp
            dask
            h5py
            hdf5
      - name: Install python dependencies
        shell: bash -el {0}
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[testing]"
      - name: Run unit tests
        shell: bash -el {0}
        run: |
          pytest tests --cov=src --cov-report=xml:coverage-ut.xml --cov-report=term
          mv .coverage .coverage-ut
      - name: Upload unit test coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-coverage
          include-hidden-files: true
          path: |
            .coverage-ut
            coverage-ut.xml
